/* .container-fluid{
  display: none;
} */

.container {
  width: clamp(50px, 50%, 551px);
  /* height: 690px; */
  border: 1px solid black;
  margin: 40px auto 0 auto;
  position: relative;
}

.pic {
  width: auto;
  height: 330px;
  position: relative;
  overflow: hidden;
}

.pic-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.name-box {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

h2 {
  padding-top: -0px;
  padding-left: 20px;
  color: #454344;
  margin: 0;
  margin-top: 10px;
}

#summary{
  margin: 0;
  margin-top: 10px;
  font-size: small;
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

#content{
  margin: 0;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}


.time {
  padding-left: 6px;
  font-size: 0.5em;
  font-weight: 200;
}


.pic-counter-wrapper {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  left: 44%;
  top: 10px;
}